* {
  box-sizing: border-box;
}

.bmi {
  padding: 20px;
  width: 800px;
}

input {
  padding: 10px;
  margin: 10px;
  width: 150px;
}

button {
  padding: 10px;
  margin: 10px;
  width: 150px;
}

.bmi_total{
  display: none;
  font-size: 30px;
  margin-top: 20px;
}

#bmi_text {
  padding: 20px;
  font-size: 20px;
}

#list{
  width: 400px;
  margin-top: 30px;
}

tr {
 display: block;
 padding: 20px;
 margin: 10px;
 border: 1px solid #000;
}

